/*.navbar {
    background-color: #002147;
}
.active {
	background-color: #3277ae;
}*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}
p {
	font-family: 'Open Sans', sans-serif;
}

p.abstract {
	font-size: 20px;
	text-align: justify;
}

a:hover {
    color: #2980b9;
    text-decoration:underline;
}

p.university{
	font-size: 22px;
	/*font-weight: bold;*/
}

p.contacts{
	font-size: 16px;
}

.pointers {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	/*font-weight: bold;*/
}

.pointers_sub {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.row {
	text-align: center;
}


/* Styling of navbar*/
.navbar {
  background-color: #002147;
  border-color: #3277ae;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.navbar-brand {
	font-size: 28px;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #a1c0d4;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #a1c0d4;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: #a1c0d4;
  background-color: #002147;
}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
  color: #a1c0d4;
  background-color: #3277ae;
}
.navbar .navbar-toggle {
  border-color: #3277ae;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #3277ae;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #a1c0d4;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a1c0d4;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a1c0d4;
    background-color: #3277ae;
  }
}
