{{/* Full author list + compact surname-only list for mobile. Wrapping is CSS-driven. */}}
{{- $websiteAuthor := .Site.Params.websiteAuthor -}}
{{- $authors := .authors -}}
{{- $len := len $authors -}}
<span class="authors-full">
{{- range $index, $author := $authors -}}
  {{- $cleanAuthor := replaceRE `\s*\*$` "" $author -}}
  {{- if eq $cleanAuthor $websiteAuthor -}}
    <span class="author-self">{{ $cleanAuthor }}</span>{{- if strings.HasSuffix $author "*" -}}<sup>*</sup>{{- end -}}
  {{- else -}}
    {{ $cleanAuthor }}{{- if strings.HasSuffix $author "*" -}}<sup>*</sup>{{- end -}}
  {{- end -}}
  {{- if not (eq (add $index 1) $len) -}}
    {{- if eq (add $index 2) $len -}}{{ " and " }}{{- else -}}{{ ", " }}{{- end -}}
  {{- end -}}
{{- end -}}
</span>
<span class="authors-compact">
{{- range $index, $author := $authors -}}
  {{- $cleanAuthor := replaceRE `\s*\*$` "" $author -}}
  {{- $parts := split $cleanAuthor " " -}}
  {{- $surname := index $parts (sub (len $parts) 1) -}}
  {{- if eq $cleanAuthor $websiteAuthor -}}
    <span class="author-self">{{ $surname }}</span>{{- if strings.HasSuffix $author "*" -}}<sup>*</sup>{{- end -}}
  {{- else -}}
    {{ $surname }}{{- if strings.HasSuffix $author "*" -}}<sup>*</sup>{{- end -}}
  {{- end -}}
  {{- if not (eq (add $index 1) $len) -}}
    {{- if eq (add $index 2) $len -}}{{ " & " }}{{- else -}}{{ ", " }}{{- end -}}
  {{- end -}}
{{- end -}}
</span>
