{{ define "main" }}
<div class="wrapper">
  <div class="content" style="max-width: 100%; margin: 0;">
    <div class="profile" style="background-image: url('{{ "/images/background.jpg" | relURL }}'); background-size: cover; background-position: center; height: 150px;"></div>
    <h1>{{ .Page.Title }}</h1>
    <br/>
    {{ .Content }}

    <div class="research-list">
      {{ range sort .Pages "Params.year" "desc" }}
      <div class="research-item" {{ if .Params.highlight }}style="background-color: #fff3e0; padding: 15px; border-radius: 5px;"{{ end }}>
        <h1 class="research-title">
          <span style="font-weight: normal;">[{{ .Params.conference }}{{ if and (.Params.year) (or (not (isset .Params "show_year")) (.Params.show_year)) }} {{ .Params.year }}{{ end }}]</span>
          <a href="{{ .Params.arxiv }}" title="{{ .Title }}">{{ .Title }}</a>
        </h1>
        {{ if and .Site.Params.showAuthors .Params.authors }}
        <div class="authors" style="font-style: italic; margin: -5px 0 15px 0; color: #666;">
          {{ $websiteAuthor := .Site.Params.websiteAuthor }}
          {{ $authors := .Params.authors }}
          {{ $len := len $authors }}
          {{ range $index, $author := $authors }}
            {{ $cleanAuthor := replaceRE "\\s*\\*$" "" $author }}
            {{ if eq $cleanAuthor $websiteAuthor }}
              <span style="text-decoration: underline;">{{ $cleanAuthor }}</span>{{ if strings.HasSuffix $author "*" }}<sup>*</sup>{{ end }}
            {{ else }}
              {{ $cleanAuthor }}{{ if strings.HasSuffix $author "*" }}<sup>*</sup>{{ end }}
            {{ end }}
            {{- if not (eq (add $index 1) $len) -}}
              {{- if eq (add $index 2) $len -}}
                {{ " and " }}
              {{- else if not (eq (add $index 1) $len) -}}
                {{ ", " }}
              {{- end -}}
            {{- end -}}
          {{ end }}
        </div>
        {{ end }}
        <div class="content-wrapper" style="display: flex; gap: 20px;">
          {{ $thumbWidth := default "25%" .Params.thumbnail_width }}
          <div class="thumbnail" style="flex: 0 0 {{ $thumbWidth }};">
            {{ if .Params.thumbnail }}
              <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" style="width: 100%; height: auto;">
            {{ end }}
          </div>
          <div class="details" style="flex: 1;">
            <p>
              {{/* Render code links if present */}}
              {{ with .Params.code_links }}
                {{ range . }}
                  <a href="{{ .url }}" title="{{ .text }}" style="margin-right: 8px; text-decoration: none;">
                    <svg style="vertical-align: middle; width: 1em; height: 1em; margin-right: 2px;" viewBox="0 0 16 16" fill="currentColor"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.01.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.11.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
                    {{ .text }}
                  </a>
                {{ end }}
              {{ end }}
              {{/* Render video links if present */}}
              {{ with .Params.video_links }}
                {{ range . }}
                  <a href="{{ .url }}" title="{{ .text }}" style="margin-right: 8px; text-decoration: none;">
                    <svg style="vertical-align: middle; width: 1em; height: 1em; margin-right: 2px;" viewBox="0 0 24 24" fill="currentColor"><path d="M10 16.5l6-4.5-6-4.5v9zm12-12v15c0 1.1-.9 2-2 2h-16c-1.1 0-2-.9-2-2v-15c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2zm-2 0h-16v15h16v-15zm-8 7.5l6 4.5v-9l-6 4.5z"/></svg>
                    {{ .text }}
                  </a>
                {{ end }}
              {{ end }}
              {{/* Render post links if present */}}
              {{ with .Params.post_links }}
                {{ range . }}
                  <a href="{{ .url }}" title="{{ .text }}" style="margin-right: 8px; text-decoration: none;">
                    <svg style="vertical-align: middle; width: 1em; height: 1em; margin-right: 2px;" viewBox="0 0 24 24" fill="currentColor"><path d="M19 2H8c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H8V4h11v16zM6 6H4v16c0 1.1.9 2 2 2h12v-2H6V6z"/></svg>
                    {{ .text }}
                  </a>
                {{ end }}
              {{ end }}
              {{ .Params.tldr }}
            </p>
          </div>
        </div>
      </div>
      <hr>
      {{ end }}
    </div>
  </div>
</div>
{{ end }} 